# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: BOA-SDK-TS

on:
  push:
    branches: [ v0.x.x ]
  pull_request:
    branches: [ v0.x.x ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 15.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run build
    - run: npm run browser
    - run: npm test
    - name: Deploy documentation
      if: github.event_name == 'push'
      run: |
        npm run docs
        # Remove gh-branch if it already exists, check it out
        git branch -D gh-pages || true
        git checkout --orphan gh-pages
        # Remove all staged files - We only need the docs
        git rm -rf $(git ls-files)
        # We can have some leftover files (e.g. build)
        # So add docs (which is only what we need), then `git mv` it.
        git add docs/
        git mv -k docs/* ./
        # Configure user (because persist-credentials does not persist everything...)
        git config --global user.name  "${{ github.actor }}"
        git config --global user.email "${{ github.actor }}@users.noreply.github.com"
        # We're done
        git commit -m "Documentation for commit ${{ github.sha }}"
        git push -f ${{ github.event.repository.clone_url }} gh-pages:gh-pages
